BasedOnStyle: Google
Language: Cpp
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 4
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: true
Standard: Cpp11
